<h1>Chat</h1>
<div id="chat">
  <% @history.each do |message| %>
    <p><span><%= message.created_at.httpdate %>:</span> <%= message.message %></p>
  <% end %>
</div>

<%= form_tag('/', method: "post") do %>
  <%= label_tag 'message' %>
  <%= text_field_tag 'message' %>
  <%= submit_tag "Send" %>
<% end %>